<div class="chat-widget">
    <div class="chat-header">
        <span class="material-icons chat-icon">chat_bubble</span>
        <span>Helpdesk Chat</span>
        <a class="chat-close" href="" title="Close chat">
            <span class="material-icons">close</span>
        </a>
    </div>
    <div class="chat-body">
        <textarea class="form-control" placeholder="How can we help you?"></textarea>
    </div>
    <div class="chat-footer">
        <button type="button" class="btn btn-primary btn-sm">
            <span class="material-icons">send</span>
            Send
        </button>
    </div>
</div>
