<h2 mat-dialog-title>{{course.description}}</h2>

<loading />

<messages />

<mat-dialog-content>

  <mat-form-field>
    <mat-label>Course Description</mat-label>
    <input matInput [formField]="courseForm.description">
    @if (courseForm.description().touched() && courseForm.description().errors().length) {
      <mat-error>{{ courseForm.description().errors()[0].message }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select [formField]="courseForm.category">
      <mat-option value="BEGINNER">Beginner</mat-option>
      <mat-option value="INTERMEDIATE">Intermediate</mat-option>
      <mat-option value="ADVANCED">Advanced</mat-option>
    </mat-select>
    @if (courseForm.category().touched() && courseForm.category().errors().length) {
      <mat-error>{{ courseForm.category().errors()[0].message }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Released At</mat-label>
    <input matInput type="date" [formField]="courseForm.releasedAt">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput [formField]="courseForm.longDescription"></textarea>
    @if (courseForm.longDescription().touched() && courseForm.longDescription().errors().length) {
      <mat-error>{{ courseForm.longDescription().errors()[0].message }}</mat-error>
    }
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>

  <button mat-raised-button (click)="close()">
    Close
  </button>

  <button mat-raised-button color="primary" (click)="save()"
          [disabled]="courseForm().invalid()">
    Save
  </button>

</mat-dialog-actions>
