<header class="top-nav">
    <div class="nav-inner">

        <a class="nav-brand" routerLink="/courses">
            <svg class="brand-icon" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path d="M18 2L3 7.5l2.5 22L18 34l12.5-4.5L33 7.5 18 2z" fill="#E40035"/>
                <path d="M18 6.5l-9 18h3.4l1.8-4.5h7.6l1.8 4.5H27L18 6.5zm0 6l2.7 6h-5.4L18 12.5z" fill="white"/>
            </svg>
            <span class="brand-text">Angular University</span>
        </a>

        <ul class="nav-links">
            <li>
                <a class="nav-link" routerLink="/courses"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact: true}">
                    <span class="material-icons">grid_view</span>
                    Courses
                </a>
            </li>
            <li>
                <a class="nav-link" routerLink="/about"
                   routerLinkActive="active">
                    <span class="material-icons">info</span>
                    About
                </a>
            </li>
            @if (auth.isLoggedOut()) {
                <li>
                    <a class="nav-link" routerLink="/login"
                       routerLinkActive="active">
                        <span class="material-icons">person</span>
                        Login
                    </a>
                </li>
            }
        </ul>

        <div class="nav-actions">
            @if (auth.isLoggedIn()) {
                <a class="btn-icon" title="Helpdesk Chat"
                   [routerLink]="[{outlets: {chat: ['helpdesk-chat']}}]">
                    <span class="material-icons">chat_bubble</span>
                </a>
            }
            @if (auth.isLoggedIn()) {
                <button class="btn-icon" (click)="logout()" title="Logout">
                    <span class="material-icons">logout</span>
                </button>
            }
            @if (auth.user(); as user) {
                <img class="nav-avatar" [src]="user.pictureUrl" alt="User avatar">
            }
        </div>

    </div>
</header>

<messages />
<loading [detectRoutingOngoing]="true" />

<main class="app-main">
    <router-outlet />
</main>

<router-outlet name="chat" />
